<!DOCTYPE html>
<html>
  <head>
    <title>Scolen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap -->
    <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- styles -->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">

	  {% include ':includes:_resolveIE.html.twig' %}
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">Scolen</a></h1>
	              </div>
	           </div>
                {# Formaulaire de recherche #}
	           <div class="col-md-5">
                   {#{% include ':includes:_frmSearch.html.twig' %}#}
	           </div>
                {# Connexion #}
	           <div class="col-md-2">
                   {% include ':includes:_connexion.html.twig' %}
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
            {# Navigation #}
            <div class="col-md-2">
			    {% include ':includes:_navigation.html.twig' %}
		    </div>
		  <div class="col-md-10">
              {% block body %}{% endblock %}
		  </div>
		</div>
    </div>

    <footer>
     <div class="container">
        <div class="copy text-center">
           Copyright 2014 <a href='#'>Website</a>
        </div>
     </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    {% block javascripts %}{% endblock %}

  </body>
</html>